@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Upload new Vixa", "Upload", "Profil");
}
else
{
    //@:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
    <p> NIe masz autoryzacji by to kurwa widziex</p>
}
